<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Fumo API</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="body-wrapper">
    <header class="main">
        <p>Project Fumo</p>
    </header>
    <main class="main-wrapper">
        <h1>Welcome to Project Fumo API</h1>
        <div align="center">
            <img src="/img/Logo%20Full.svg">
        </div>
        <section>
            <article>
                <h1>Github Repo</h1>
                <p>This project sourcecode is available at Github</p>
                <a href="https://github.com/Sakute-Andrew/project_fumo_backend" class="button">See more</a>
            </article>
            <article>
                <h1>Documentation</h1>
                <p>API uses OpenApi documentation about all available Endpoints</p>
                <a href="/swagger-ui/index.html" class="button">Open docs</a>
            </article>
            <article>
                <h1>Any Questions?</h1>
                <p>Contact with me through mail!</p>
                <a href="mailto:youremail@example.com" class="button">Contact Us</a>
            </article>
        </section>
    </main>
    <footer class="footer">
        <p>© 2025 Project Fumo. All Rights Reserved.</p>
        <p>Follow us:
            <a href="https://twitter.com/yourprofile">Twitter</a> |
            <a href="https://linkedin.com/in/yourprofile">LinkedIn</a> |
            <a href="https://github.com/Sakute-Andrew">GitHub</a>
        </p>
    </footer>
</div>
</body>
</html>
